apiVersion: batch/v1
kind: Job
metadata:
  # Unique key of the Job instance
  name: geocoder-job-{{ job_number }}
spec:
  backoffLimit: 4
  template:
    metadata:
      name: geocoder-job-{{ job_number }}
      labels:
        jobtype: geocode
    spec:
      imagePullSecrets:
      - name: gcr-json-key
      volumes:
      - name: cloud-storage-key
        secret:
          secretName: gcs-key
      containers:
      - name: geocoder-client
        image: gcr.io/agrc-204220/webapi/geocode-job
        imagePullPolicy: Always
        volumeMounts:
        - name: cloud-storage-key
          mountPath: /var/secrets/google
        env:
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /var/secrets/google/key.json
        command: ["python"]
        args: ["/tmp/geocode_gcs_csv.py",
               "--apikey", "AGRC-Explorer",
               "--input_bucket", "{{ upload_bucket }}",
               "--input_csv", "{{ csv_name }}",
               "--id_field", "{{ id_field }}",
               "--address_field", "{{ address_field }}",
               "--zone_field", "{{ zone_field }}",
               "--output_bucket", "{{ results_bucket }}"]
      # Do not restart containers after they exit
      restartPolicy: Never
